.features {
    height: 1458px;
    width: 1728px;
  }
  .text-1 {
    text-align: left;
    vertical-align: top;
    font-size: 40px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
  }
  .rectangle-4 {
    border-radius: 39px;
    height: 221px;
    width: 680px;
    background-color: #fdfdfd;
  }
  .rectangle-5 {
    border-radius: 39px;
    height: 221px;
    width: 680px;
    background-color: #fdfdfd;
  }
  .rectangle-6 {
    border-radius: 39px;
    height: 221px;
    width: 680px;
    background-color: #fdfdfd;
  }
  .rectangle-7 {
    border-radius: 39px;
    height: 221px;
    width: 680px;
    background-color: #fdfdfd;
  }
  .rectangle-8 {
    border-radius: 39px;
    height: 221px;
    width: 680px;
    background-color: #fdfdfd;
  }
  .text-2 {
    text-align: left;
    vertical-align: top;
    font-size: 23px;
    font-family: Inter;
    line-height: 160.52273511886597%;
    color: #ffffff;
  }
  .text-3 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Inter;
    line-height: 160.52273511886597%;
    color: #000000;
  }
  .text-4 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Inter;
    line-height: 160.52273511886597%;
    color: #000000;
  }
  .text-5 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Inter;
    line-height: 160.52273511886597%;
    color: #000000;
  }
  .text-6 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Inter;
    line-height: 160.52273511886597%;
    color: #000000;
  }
  .text-7 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Inter;
    line-height: 160.52273511886597%;
    color: #000000;
  }
  .text-8 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
    font-family: Inter;
    line-height: auto;
    color: #154667;
  }
  .text-9 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
    font-family: Inter;
    line-height: auto;
    color: #154667;
  }
  .text-1-0 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
    font-family: Inter;
    line-height: auto;
    color: #154667;
  }
  .img-1-1 {
    height: 131px;
    width: 131px;
  }
  .text-1-2 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
    font-family: Inter;
    line-height: auto;
    color: #154667;
  }
  .text-1-3 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
    font-family: Inter;
    line-height: auto;
    color: #154667;
  }