* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
  
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #d8d8d8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.navbar-menu-container {
  display: none;
}
.nav-links-container a {
  margin-right: 2.5rem;
  text-decoration: none;
  color: #fafafa;
  font-size: 1.1rem;
  font-weight: 550;
  padding-top: 40px;
 
}
.nav-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(39, 50, 143);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.nav-button:hover {
  background-color: rgb(234, 234, 234);
}

.nav-logo {
  height: 200px;
  width: 200px;
  padding-top: 40px;
}

.Banner-background-cont {
  position: absolute;
  top: -10px;
  right: 70px;
  z-index: -2;
  max-width: 700px;
  height:2500px;
  width:2500px
}

